li {
    padding: 5px;
    margin: 5px;
    background: rgb(245, 242, 212);
  }
  body {
    background: #ffcc64;
    background-size: cover;
  }
  .label {
    font-weight: bold;
  }
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: lightcyan;
  }
  .form-group {
    margin-bottom: 5px;
  }
  h1 {
    color: white;
    font-family: 'Pacifico', cursive;
  }
  h2 {
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    color:#FF4136;
  }
  .burger-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #bn, .btnstyle {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }
  .btnstyle2 {
    background-color: white;
    color: black;
    border: 2px solid #FF4136;
  }